<h3> Devloper-Side</h3>
<div class="div-container">
  <div class="main-conatiner">
    <p class="para">
      <li> Yes, I am Raies, from Rajasthan and I have created this Http|APIs .</li><br>
      <li>Creating a demo application in Angular that includes HTTP API and routing is a simple and effective process.
      </li><br>
      <li> It
        involves setting up the project using Angular CLI and enabling routing. Routing allows users to navigate between
        different pages such as Home, About, and Features.</li>
      <br>
      <li> Next, a service is created to handle HTTP API calls. For instance, HttpClientModule is used to fetch data
        from an
        API (e.g., https://api.github.com/users). This data is then brought into a component and displayed
        in an HTML template.</li>
      <br>
      <li> By defining routes in the AppRoutingModule, routing is enabled, and routerLink is used for navigation. This
        demo
        project demonstrates Angular's modular architecture, reactive programming, and data binding, enabling the
        creation and also use of bootstrap classes
        of a professional and functional application.</li>

    </p>

  </div>

</div>