h3{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  /* background-color: blueviolet; */
  font-size: 25px;
  font-weight: 400;
}
.div-container{

  /* background-color: burlywood ; */
  margin: 2px;
}
.main-conatiner{
  
}